@font-face {
    font-family: Pixeled;
    src: url('../fonts/Pixeled.ttf');
}

body {
    font-family: 'Pixeled';
    margin: 0;
    color: #fff;
    height: 100vh;
    overflow: hidden;
    scrollbar-width: none;
    user-select: none;
}

.fullscreenButton {
    position: absolute;
    width: 4rem;
    top: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.fullscreenButton:hover {
    transform: scale(1.05);
}

.fullscreenButton > img {
    width: 100%;
}

.gameLogo {
    width: 40%;
    padding-top: 2vh;
}

.backButton {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 7rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.backButton:hover {
    transform: scale(1.1);
}

.backButton img {
    width: 100%;
}

.startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/bg/bg3.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

.startMenuButton {
    cursor: pointer;
    width: 25%;
    transition: all 0.3s ease;
    image-rendering:pixelated;
}

.startMenuButton img{
    width: 100%;
}

.startMenuButton:hover {
    transform: scale(1.05);
}

.settingsScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 3rem;
    background-image: url('../img/bg/bg3.png');
    background-position: center;
    background-size: cover;
    overflow-y: scroll;
    scrollbar-width: none;
    background-attachment: fixed;
}

.tutorialScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    background-image: url('../img/bg/bg3.png');
    background-position: center;
    background-size: cover;
    overflow-y: scroll;
    scrollbar-width: none;
    background-attachment: fixed;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/menuBg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 3000px;
    padding-top: 4.5rem;
    margin-bottom: 4rem;
}

.contentWrapper img {
    position: relative;
    height: 100%;
    top: 0;
}

.contentWrapper p {
    font-size: 14px;
    padding-left: 7rem;
    padding-right: 7rem;
}

.contentWrapper div {
    height: 10rem;
}

.gameScreen {
    display: flex;
    justify-content: center;
    background-image: url('../img/bg/bg3.png');
    background-size: cover;
    height: 100vh;
    gap: 1rem;
    background-attachment: fixed;
    overflow-x: scroll;
    scrollbar-width: none;
}

.building {
  display: flex;
  align-items: end;
  background-image: url('../img/building.png');
  height: 102vh;
  width: 110%;
  margin: 0;
  padding: 0;
  background-size: 100%;
  overflow-x: scroll;
  background-repeat: no-repeat;
  background-position: center 80%;
}

.rackContainer {
  position: relative;
  bottom: 2%;
  left: 30%;
  width: 40%;
}

.rackContainer img {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.rackContainer img:hover {
  filter: drop-shadow(0 0 10px rgba(206, 255, 168, 0.577));
}

.pcDesk {
  position: relative;
  bottom: 14%;
  left: 22%;
  width: 15%;
}

.pcDesk img {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pcDesk img:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 87, 0.622));
}

.pcScreen {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-image: url('../img/Pc.png');
  background-position: center;
  background-size: cover;
  z-index: 1001;
}

.pcWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 25.39%;
  top: -2.9%;
  background-image: url('../img/bg/pcBg.png');
  background-size: cover;
  background-position: center;
  width: 55%;
  height: 60%;
  padding: 1rem;
  z-index: 1000;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  height: 100%;
  width: 33%;
  padding: 0.2rem;
}

.sidebarBtn {
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  border-radius: 1.25rem;
  border: 1px solid #2B2B2B;
  background: #2E2E2E;
  color: #fff;
  padding: 0.2rem;
  height: 4.5rem;
}

.pcHomeScreen {
  display: flex;
  flex-direction: row;
  height: 100%
}

.pcSellScreen {
  display: flex;
  flex-direction: row;
  height: 100%
}

.pcShopScreen {
  display: flex;
  flex-direction: row;
  height: 100%
}

.pcEnergyScreen {
  display: flex;
  flex-direction: row;
  height: 100%
}


.loadingBg {
    position: absolute;
    width: 110%;
    backdrop-filter: blur(30px);
    z-index: 1000;
}

.inventoryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* From Uiverse.io by Vosoone */ 
.main-container {
    position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  z-index: 1001;
}

.loader {
  width: 100%;
}

.trace-bg {
  stroke: #333;
  stroke-width: 1.8;
  fill: none;
}

.trace-flow {
  stroke-width: 1.8;
  fill: none;
  stroke-dasharray: 40 400;
  stroke-dashoffset: 438;
  filter: drop-shadow(0 0 6px currentColor);
  animation: flow 3s cubic-bezier(0.5, 0, 0.9, 1) infinite;
}

.yellow {
  stroke: #ffea00;
  color: #ffea00;
}
.blue {
  stroke: #00ccff;
  color: #00ccff;
}
.green {
  stroke: #00ff15;
  color: #00ff15;
}
.purple {
  stroke: #9900ff;
  color: #9900ff;
}
.red {
  stroke: #ff3300;
  color: #ff3300;
}

@keyframes flow {
  to {
    stroke-dashoffset: 0;
  }
}


.chip-body {
  rx: 20;
  ry: 20;
}

.chip-text {
  font-weight: bold;
  letter-spacing: 1px;
}

.chip-pin {
  stroke: #444;
  stroke-width: 0.5;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
}