@font-face {
    font-family: Pixeled;
    src: url('../fonts/Pixeled.ttf');
}

body {
    font-family: 'Pixeled';
    margin: 0;
    height: 100vh;
    overflow: hidden;
    scrollbar-width: none;
    /* user-select: none; */
}

.fullscreenButton {
    position: absolute;
    width: 4rem;
    top: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.fullscreenButton:hover {
    transform: scale(1.05);
}

.fullscreenButton > img {
    width: 100%;
}

.gameLogo {
    width: 40%;
    padding-top: 2vh;
}

.startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/bg/bg3.png');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

.startMenuButton {
    cursor: pointer;
    width: 25%;
    transition: all 0.3s ease;
    image-rendering:pixelated;
}

.startMenuButton img{
    width: 100%;
}

.startMenuButton:hover {
    transform: scale(1.05);
}

.settingsScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 3rem;
    background-image: url('../img/bg/bg3.png');
    background-position: center;
    background-size: cover;
    overflow-y: scroll;
    scrollbar-width: none;
}

.tutorialScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 3rem;
    background-image: url('../img/bg/bg3.png');
    background-position: center;
    background-size: cover;
    overflow-y: scroll;
    scrollbar-width: none;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 4rem;
}